.FlexContainer{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 250px;
    align-items: center;
        
}

.Para{
    flex: auto;
    font-size: 1.4em;
    text-align: center;
    width: 80%;
}

.Title{
flex: auto;
font-size: xx-large;
text-align: center;
font-weight: 900;
}

.Pic{
    flex: 0 1 1;
    margin: 50px;
    width: 40%;
    height: auto;
    border-radius: 50px;
}

.PicBox{
    display: flex;
    justify-content: center;
}