.Footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:rgb(0, 89, 255);  
    height: 50px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FooterLink {
    flex: auto;
    color: black;
    font-size: .75em;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.FooterLink:hover{
    transform: scale(1.2);
}

.FooterLink:visited{
    color: darkslategray;
}