.Footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: blue;  
    height: 50px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FooterLink {
    color: black;
}

.FooterLink:hover{
    transform: scale(1.2);
}

.FooterLink:visited{
    color: darkslategray;
}