.Header {
    display: flex;
    height: 150px;
    padding: 0px;
    background-color: rgb(0, 89, 255);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.HeaderTitle{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
width: 100%;
}

.LogoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    background-color: black;
    border-color: black;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    margin: 2%;
}

.CompanyNameContainer{
    display: flex;
    border-color: black;
    background-color: black;
    border: 0px;
    border-radius: 30px;
    height: 125px;
    width: 40%;
    justify-content: center;
    align-items: center; 
    min-width: fit-content;
}

h1 {
    flex: auto;
    font-size: 3em;
    margin: 3px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
}

.Logo {
    font-size: 8em;
    text-align: center;
}