.HomeContainer{
    display: flex;
    flex-direction: column;
    padding: 50px;
        
}

.HomePara{
    flex: auto;
    font-size: x-large;
    text-align: center;
}

.HomeTitle{
flex: auto;
font-size: xx-large;
text-align: center;
font-weight: 900;
}

.HomePic{
    flex: 0 1 1;
    margin: 50px;
    width: 500px;
    height: 500px;
}

.PicBox{
    display: flex;
    justify-content: center;
}