.HowContainer{
display: flex;
flex-direction: column;
padding: 50px;
}

.HowPara{
flex: auto;
font-size: x-large;
text-align: center;
}

.HowPic{
    flex: 0 1 1;
    margin: 50px;
    width: 600px;
    height: 500px;
    align-self: center;
}

.PicBox{
    display: flex;
    justify-content: center;
}