.NavBarBackground {
    display: flex;
    align-items: center;
    padding: 2%;
    background-color: blue;
    width: 100%;
    opacity: 80%;
    position: fixed;
    margin-top: 150px;
}

.NavButton {
    display: flex;
    flex: 1 1;
    margin: 2%;
    height: 5%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px;
    border-color: black;
    opacity: 100%;
    font-size: 1em;
    font-weight: 900;
    background-color: blue;
    
}

.NavButton:hover {
    transform: scale(1.2);    
    border-style: solid;
}