
.Everything{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.NavContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Header{
width: 100%;
}

.CurrentView{
  margin-top: 100px;
  flex: auto;
}